{% extends 'base.html.twig' %}

{% block title %}Ofertes{% endblock %}

{% block body %}

    <div class="container text-center">
        <h1 class="col-6">Ofertes</h1>
        <ul class="list-group col-6">
            {% for oferta in ofertes %}
                <li class="list-group-item"><a
                            href="{{ path('detall_oferta', {'id' : oferta.id}) }}">{{ oferta.titol }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
